---
---

@import "{{ site.theme }}";
* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header {
    margin-right: auto
}

.sections-container {
    margin-left: auto
}

section {
    padding-bottom: 3.98089172vh;
    padding-top: 0px;
    margin: 0px;
    border-width: 0px;
}

footer {
    bottom: 2.36241vh;
    position: fixed;
    font-size: 1.91vh;
}

p, ul, ol, table, pre, dl, hr {
    margin: 0 0 2.65392781vh;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 2.65392781vh;
}
  
details > p {
    margin: 0;
}

@media print, screen and (max-width: 720px) {
    header {
        padding: 0;
    }
}

@media print, screen and (max-width: 960px) {
    header, section, footer {
        position: static;
    }
}