---
---

@import "{{ site.theme }}";
* {
    box-sizing: border-box;
}

@media print, screen and (min-width: 960px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
    }

    header {
        margin-right: auto;
        width: 15%;
    }

    .sections-container {
        margin-left: auto;
        width: 75%;
    }

    section {
        width: 100%;
    }
}

.headshot {
    margin: auto;
    display: block;
}

@media print, screen and (max-width: 1300px) {
    footer {
        display: none;
    }
}

header > p {
    margin: 1.3269639vh 0 2.65392781vh;
}

section {
    padding-bottom: 2.6539278991416686vh;
    padding-top: 0px;
    margin: 0px;
    border-width: 0px;
}

footer {
    bottom: 2.36241vh;
    position: fixed;
    font-size: 1.91vh;
}

p, ul, ol, table, pre, dl, hr {
    margin: 0 0 2.65392781vh;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 2.65392781vh;
}
  
details > p {
    margin: 0;
}

@media print, screen and (max-width: 720px) {
    header {
        padding: 0;
    }
}

@media print, screen and (max-width: 960px) {
    header, section, footer {
        position: static;
    }
}